/* 
***********************************************
HTML Standard Sektion
***********************************************
 */

.farea
{
	margin-top: 8px;
	padding: 5px 5px 5px 5px;
}

.fleft
{
	float:left;	
}

.fright
{
	float:right;	
}

.fclear
{
	clear: both;
	visibility:hidden;	
}

.frow
{
	width: 100%;
	clear:both;
	padding-top: 0px;
}

.fline
{
	clear: both; 
	border-bottom:1px solid #a2a6c7;	
	margin-top: 5px;
	margin-bottom: 5px;
}

/* 
***********************************************
MAIN Sektion
***********************************************
 */
#cpage
{
	position:relative; 
	top:0px; 
	width: 980px;
	text-align: left;
	margin: 0px auto 0px auto; 
}

#cmain
{ 
	position:relative;
	min-height:450px; 
	height:450;
	width:980px;	
	text-align:left; 	
	z-index: 1;	
	padding: 10px 10px 0px 10px;	
}
#cmaincontent
{
	float:left;
	position:relative;
	width:650px;
	margin-right: 10px;	
}

#crightcontent
{
	float:right;
	position:relative;
	width:300px;
}

/* 
***********************************************
HEADER Sektion
***********************************************
 */
 #cheaderfull
 {
 	position:relative;
 	width: 980;
 	height:150;
 	border-bottom:3px solid #4f4f4f;	
 	z-index:300;
 }
 #cheader
 {
 	position: absolute;
 	top:25px; 
	width: 980px;
	height: 100px;
	max-height: 100px;
	margin: 0px auto 0px auto; 
	text-align:left;	
	z-index: 100;	
 }
 
 #clogo
 {
 	position: absolute;
 	width: 180px;
 	height: 150px;
 	z-index: 200;
 	background-color:#fff; 	
 	text-align:center;
 	border-bottom:3px solid #4f4f4f;	
 }
 
 #cmenu
 {
 	position:absolute; 
	top:124px; 
	height:25px;
	max-height: 25px;
	left: 180px;
	width: 800px;	
	text-align:right; 
	clear:both;	
 }
 
/*Applikationsname im Header*/
.HeaderApplicationName
{
	position: relative;
	top: 30px;
	font-family:Verdana;
	font-size:18px;
	font-weight:normal;
	color: #fff;
}

.ie .HeaderApplicationName
{
	
}

.HeaderCapitalLetter
{
	font-weight: bold;
	font-size: 28px;
	color: #a2a6c7;
	font-family: Verdana;
}
/*Zeitanzeige im Header*/
.HeaderDateTime
{
	color:#fff;
}
/*Links im Header*/
.HeaderLink
{
	
}
.HeaderUser
{
	color:#fff;

}
.HeaderInfo
{
	position:relative;
	text-align:right;	
}

#pnlGHeader
{
	position: relative;
	width: 200px;
	height: 60px;
	vertical-align:baseline;
	float: right;
}
.RoleMenu
{
	text-align: right;	
}

a.STDMnuLink:link,
a.STDMnuLink:visited
{
	font-family: Verdana;
	font-weight: bold;
	text-decoration:none; 
	color:#293d6b; 
	white-space:nowrap;
}
a.STDMnuLink:hover
{ 
	text-decoration:underline; 
	color:#293d6b; 
	white-space:nowrap; 
}

.MenuTable
{
	border: none 0px white;
	border-collapse: collapse;
	padding: 0px 0px 0px 0px;
	border-top: 3px solid #4f4f4f;	
}

/* 
***********************************************
FOOTER Sektion
***********************************************
 */
#cfooter 
{ 
	position:relative;
	height:40px;  
	width:980px;
	margin: 10px auto 0px auto; 
	text-align:left; 	
	clear:both; 
	border-top: 3px solid #4f4f4f;  	
	background-color: #fff;
}
 
.FooterTable
{
	BACKGROUND-COLOR: #eeeee2; 
}
/*Applikationsname im Header*/
.FooterCopyright
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color: #fff;
	font-family:Tahoma;
}

/* 
***********************************************
FORM Sektion
***********************************************
 */


div.SecondHeaderIcon
{
	position: relative;
	float: left;
	height: 40px;
}

div.SecondHeaderIcon img
{
	vertical-align: middle;	
}

div.SecondHeaderIcon span
{
	font-weight: bold;
	font-size: 16px;
	color: #293d6b;
	vertical-align: middle;
	background: #123456;
	float: left;
	height: 40px;
}


.SmallHeaderTitle
{
	font-size:8pt;
	font-weight:bold;
	color: #293d6b;
}

.STDTable
{
	background-color: #ffffff;
}

.STDTitel
{
	font-size:16px;
	font-weight:bold;
	color: #293d6b;
}

.SecondSTDTitelWB
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
}

.STDDetailTitelWB
{
	font-weight: bold;
	font-size: 8pt;
	color: #293d6b;
}

.STDTitelWBsmall
{
	font-weight: bold;
	font-size: 12px;
	color: #293d6b;
}
.STDButton, .HTUWBackButton
{
	border-right: #44498e 1px solid;
	border-top: #44498e 1px solid;
	border-left: #44498e 1px solid;
	border-bottom: #44498e 1px solid;
	background-color: #e1e3f2;
	
	font-family: Tahoma;
	font-weight: bold;
	font-size: 8pt;
	color: #293d6b;
	
	height: 24px;
	width: 150px;
}

a.STDLink:link,
a.STDLink:visited
{
	font-family: Verdana;
	font-weight: bold;
	text-decoration:none; 
	color:#293d6b; 
	white-space:nowrap;
}
a.STDLink:hover
{ 
	text-decoration:underline; 
	color:#293d6b; 
	white-space:nowrap; 
}

.MiniButton
{
	border-right: #44498e 1px solid;
	border-top: #44498e 1px solid;
	border-left: #44498e 1px solid;
	border-bottom: #44498e 1px solid;
	background-color: #e1e3f2;
	
	font-family: Tahoma;
	/*font-weight: bold;*/
	font-size: 10px;
	color: #293d6b;
	
	height: 18px;
	width: 150px;
}
.MiniButton:hover{ cursor:pointer; }
.DefaultRowCell
{
	height: 20px;
	background-color: #ffffff;
}
.AlternateRowCell
{
	height: 20px;
	background-color: #eaeaf7;
}
.STDCalButton
{
	font-size: 8pt;
	font-family: Tahoma;
	color: Black;
	width: 20px;
}

.BLDLabel
{
	font-size: 8pt;
	font-weight: bold;
	color: black;
	font-family: Tahoma;
	width: 150px;
}
.STDLabelSmall
{
	font-size: 9px;
	color: black;
	font-family: Tahoma;
	
}
.BLDLabelSmall
{
	font-size: 9px;
	font-weight: bold;
	color: black;
	font-family: Tahoma;
	
}
.STDCalField
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	width: 150px;
}

.STDCBX
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	width:430px;
}
.STDDDL
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	
}
.STDCBL
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	
}
.STDRBL
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	
}
.STDDAT
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	
}


.PasswordField
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	background-color:  #FDF5E6 ;	
	border: solid 1px #44498E;
	width: 280px;
}

.MDTCBX
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	/*
	background-color:  #FDF5E6 ;	
	border: solid 1px #44498E;
	width: 300px;
	*/
}
.MDTDDL
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	background-color:  #FDF5E6 ;	
	border: solid 1px #ff4500;
	width: 300px;
}
.MDTCBL
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	/*
	background-color:  #FDF5E6 ;	
	border: solid 1px #ff4500;
	width: 300px;
	*/
}
.MDTRBL
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	/*
	background-color:  #FDF5E6 ;	
	border: solid 1px #ff4500;
	width: 300px;
	*/
}
.MDTDAT
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	background-color:  #FDF5E6 ;	
	border: solid 1px #ff4500;
	width: 300px;
}
.ROCBX
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #CCCCCC;
	color: #000000;
	width: 300px;
}
.RODDL
{
	background-color: #CCCCCC;
	color: #000000;
	width: 300px;
}
.ROCBL
{
	background-color: #CCCCCC;
	color: #000000;
	width: 300px;
}
.RORBL
{
	background-color: #CCCCCC;
	color: #000000;
	width: 300px;
}
.RODAT
{
	background-color: #CCCCCC;
	color: #000000;
	width: 300px;
}
.ERRField
{
	font-size: 8pt;
	width: 270px;
	color: black;
	font-family: Tahoma;
	background-color: #FFE4C4;
}
.DATBUT
{
	width: 30px;
}
.DATTB
{
	width: 268px;
}


.ERRRow
{
	border-right: black 10px;
	border-top: red 0px;
	border-left: red 0px;
	border-bottom: red 0px;
	background-color: #FFA07A;
}
.ERRCell
{
	background-color: #FFA07A;
}
.ERRLabel
{
	font-size: 8pt;
	font-weight: bold;
	color: black;
	font-family: Tahoma
}
.DATATable
{
	border-width: 0px;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.DATATableWithBorder
{
	margin-top: -4px;
	border-right: #a2a6c7 1px solid;
	border-left: #a2a6c7 1px solid;
	border-bottom: #a2a6c7 1px solid;	
}
.DATAPanel
{
	background-color:#ffffff;
}
.HELPPanel
{
	background-color:#ffffff;
}

.DGBelowMin
{
	padding-left:3px;
	background-color:  #F2B7B7;
	border-bottom:solid 1px black;
	border-left:solid 1px black;
	border-right:solid 1px black;
}	
.DGMinOKBelowMax
{
	padding-left:3px;
	background-color: #E8E9AB;
	border-bottom:solid 1px black;
	border-left:solid 1px black;
	border-right:solid 1px black;
}	
.DGMax
{
	padding-left:3px;
	background-color: #B0D9A6;
	border-bottom:solid 1px black;
	border-left:solid 1px black;
	border-right:solid 1px black;
}	
.DGBelowMinNoCol
{
	padding-left:3px;
	border-bottom:solid 1px black;
}	
.DGMinOKBelowMaxNoCol
{
	padding-left:3px;
	border-bottom:solid 1px black;
}	
.DGMaxNoCol
{
	padding-left:3px;
	border-bottom:solid 1px black;
}


.UPLExist
{
	background-color: #B0D9A6;
}	
.UPLMiss
{
	background-color: #F2B7B7;
}	
.UPLButton
{
	font-size: 8pt;
	font-family: Tahoma;
	color: Black;
	/*font-weight: bold;*/
	/*background-color: #B6B8CB;*/
	width: 130px;
}
.UPLTable
{
	border: 0;
}
.UPLColHeader
{
	background-color: #CCCCCC;
	color: #000000;
}
.UWGDataAlternateRow
{
	background-color: #DBDCEE;
}

.WFBtn
{	
	border-right: #44498e 1px solid;
	border-top: #44498e 1px solid;
	border-left: #44498e 1px solid;
	border-bottom: #44498e 1px solid;
	background-color: #e1e3f2;	
	font-family: Tahoma;
	font-weight: bold;
	font-size: 8pt;
	color: #293d6b;
	height: 24px;
}

.WFBtnChk
{
	background-color:Gray;
	color:Black;
	width: 150px;
}

.DGListRow
{	
	margin-top: 5px;
	padding-bottom: 5px;
}

.DGListRowData
{
	width:560px;
	float:left;
}

.DGListButtonCell
{
	position: relative;	
	float: right;
	width: 110px;
	text-align: right;
}

.DGLPPUEnabled
{
	width:30;
	height: 40px;
	float: left;
}

.DGLPPUUniversity
{
	font-weight:bold;
}
.DGLPPUUniversity, .DGLPPUUnit, .DGLPPUPerson
{
	width: 500px;	
}

/* 
***********************************************
ERROR + HELP Sektion
***********************************************
 */
.STDError
{
	font-size:8pt;
	color: black;
}
.STDErrorTitle
{
	font-size:10pt;
	font-weight:bold;
	color: white;
}

.ErrorTable
{
	border-right: #cc0000 1px solid;
	border-top: #cc0000 1px solid;
	border-left: #cc0000 1px solid;
	border-bottom: #cc0000 1px solid;
}

.ErrorHeaderCell
{
	background-color: #ff6666;
}

.ErrorBodyCell
{
	background-color: #ffffff;
}

.STDHelp
{
	font-size:8pt;
	color: black;
}
.STDHelpTitle
{
	font-size:10pt;
	font-weight:bold;
	color: white;
}

.HelpTable
{
	border-right: #a2a6c7 1px solid;
	border-top: #a2a6c7 1px solid;
	border-left: #a2a6c7 1px solid;
	border-bottom: #a2a6c7 1px solid;
}

.HelpHeaderCell
{
	background-color: #a2a6c7;
}

.HelpBodyCell
{
	background-color: #ffffff;
}

.STDRSSNews
{
	font-size:8pt;
	color: black;
}
.STDRSSNEWSTitle
{
	font-size:10pt;
	font-weight:bold;
	color: white;
}

.RSSNewsTable
{
	border-right: #a2a6c7 1px solid;
	border-top: #a2a6c7 1px solid;
	border-left: #a2a6c7 1px solid;
	border-bottom: #a2a6c7 1px solid;
}

.RSSNewsHeaderCell
{
	background-color: #a2a6c7;
}

.RSSNewsBodyCell
{
	background-color: #ffffff;
}
.RSSTitleText
{
	font-weight:bold;
	color: #990033;
}
.RRSTitleCell
{
}
.RRSDescriptionCell
{
}
.RSSDescriptionText
{
}
.RRSLinkCell
{
	text-align:right;
}
.RSSLinkText
{
	font-size: 7pt;
}
/* 
***********************************************
DESKTOPPANEL Sektion
***********************************************
 */
.PnlBorder
{
	border: 1px;
	border-color: #a5a5a5;
	border-style: solid;
}

.PnlSubTable
{	
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #44498E;
	border: 1;	
}
.PnlSubHeaderCell
{
	background-color: #44498E;
	font-weight:bold;
	color: White;
}
.PnlSubTextCell
{
	background-color: #DBDCEE;
}
/* 
***********************************************
Lines Sektion
***********************************************
 */
.ThickLine
{
	width: 100%;
	border-style:solid; 
	color:#44498E;
	height: 5px;
}
.MediumLine
{
	width: 100%;
	border-style:solid; 
	color:#44498E;
	height: 3px;
}
.ThinLine
{
	width: 100%;
	border-style:solid; 
	color:#a2a6c7;
	height: 1px;
}
.HelpFeldSeparatorLine
{
	width: 100%;
	border-style:solid; 
	color:#a2a6c7;
	height: 1px;
}
/* 
***********************************************
SCORING Sektion
***********************************************
 */
.ScoringGruppenTable
{	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #44498E;
	border: 1;
	background-color: White;
}
.ScoringGruppenHeader
{
	height: 24px;
	background-color: #44498E;
	font-weight:bold;
	color: White;
}
.ScoringPanel
{
	background-color: #4682B4;
}
.ScoringFragenCell
{
	background-color: White;
}
.ScoringControl
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
}
.ScoringSTDButton1     { font-family: Tahoma; font-size: 11px; font-weight: normal; text-decoration: none; width: 100px}
.ScoringMiniButton  { font-family: Tahoma; font-size: 9px; font-weight: normal; text-decoration: none; height: 18px}
.ScoringSTDButton2      { font-family: Tahoma; font-size: 11px; font-weight: normal; text-decoration: none; width: 100px; background-color:#93BEE2; border-bottom-color:#336699; border-right-color:#336699; border-top-color:#336699; border-left-color:#336699; border-width:1px}
.ScoringSTDButton      { font-family: Tahoma; font-size: 9px; font-weight: normal; text-decoration: none; width: 80px; background-color:#EFF7FF; border-bottom-color:#336699; border-right-color:#336699; border-top-color:#336699; border-left-color:#336699; border-width:1px}

.ScoringWeightField
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	width: 40px;
}
.ScoringSelectField
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	width: 250px;
	font-weight: normal; 
	text-decoration: none;
	
}


.Test
{
	font-size: small;
	color: #00cc33;
	font-family: 'Arial Narrow';
}

.TableDefaultRow
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
}
.TableAlternateRow
{
	font-size: 8pt;
	color: black;
	font-family: Tahoma;
	background-color: #ccccff;
}

/* 
***********************************************
TRAFFIC SHEET Sektion
***********************************************
 */
.TrafficHeader1Unit
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
}
.TrafficHeader1Student
{
	background-color:#D8BFD8;
	border-top: black solid 2px;
}
.TrafficHeader1ShortTerm
{
	background-color:#B0B0FF;
	border-top: black solid 2px;
}
.TrafficHeader1Teacher
{
	background-color:#efcaa9;
	border-top: black solid 2px;
}
.TrafficHeader1ShortExcurs
{
	background-color:#599173;
	border-top: black solid 2px;
}
.TrafficHeader2Unit
{
	background-color: #D2D2D2;
	border-bottom: black solid 2px;
}
.TrafficHeader2StudentMonth
{
	background-color:#e3dae3;
	border-bottom: black solid 2px;
}
.TrafficHeader2StudentPerson
{
	background-color:#ebe4eb;
	border-bottom: black solid 2px;
}
.TrafficHeader2ShortTermMonth
{
	background-color:#CACAFF;
	border-bottom: black solid 2px;
}
.TrafficHeader2ShortTermPerson
{
	background-color:#E6E6FF;
	border-bottom: black solid 2px;
}
.TrafficHeader2TeacherMonth
{
	background-color:#f6dbbc;
	border-bottom: black solid 2px;
}
.TrafficHeader2TeacherPerson
{
	background-color:#fbe5c4;
	border-bottom: black solid 2px;
}

.TrafficHeader2ShortExcursMonth
{
	background-color:#8FC8A9;
	border-bottom: black solid 2px;
}
.TrafficHeader2ShortExcursPerson
{
	background-color:#9ec8b1;
	border-bottom: black solid 2px;
}

.TrafficDataUnit
{
	background-color:#EBEBEB;
	border-bottom: black solid 1px;
}
.TrafficDataStudentMonth
{
	background-color:#e3dae3;
	border-bottom: black solid 1px;
}
.TrafficDataStudentPerson
{
	background-color:#ebe4eb;
	border-bottom: black solid 1px;
}
.TrafficDataShortTermMonth
{
	background-color:#CACAFF;
	border-bottom: black solid 1px;
}
.TrafficDataShortTermPerson
{
	background-color:#E6E6FF;
	border-bottom: black solid 1px;
}
.TrafficDataTeacherMonth
{
	background-color:#f6dbbc;
	border-bottom: black solid 1px;
}
.TrafficDataTeacherPerson
{
	background-color:#fbe5c4;
	border-bottom: black solid 1px;
}

.TrafficDataShortExcursMonth
{
	background-color:#8FC8A9;
	border-bottom: black solid 1px;
}
.TrafficDataShortExcursPerson
{
	background-color:#9ec8b1;
	border-bottom: black solid 1px;
}

.TrafficTotalUnit
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}
.TrafficTotalStudentMonth
{
	border-top: black solid 2px;
	font-weight: bold;
	background-color: #d2d2d2;
	border-bottom: black solid 2px;
}
.TrafficTotalStudentPerson
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}
.TrafficTotalShortTermMonth
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}
.TrafficTotalShortTermPerson
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}
.TrafficTotalTeacherMonth, .TrafficTotalShortExcursMonth
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}
.TrafficTotalTeacherPerson, .TrafficTotalShortExcursPerson
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}

.ICQuotaHeader1Unit
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
}

.ICQuotaHeader1Given
{
	background-color:#D8BFD8;
	border-top: black solid 2px;
}

.ICQuotaHeader1Free
{
	border-top: black 2px solid;
	background-color: #8FBC8F;
}

.ICQuotaHeader2Unit
{
	background-color: #D2D2D2;
	border-bottom: black solid 2px;
}

.ICQuotaHeader2Given
{
	background-color:#e3dae3;
	border-bottom: black solid 2px;
}

.ICQuotaHeader2Free
{
	border-bottom: black 2px solid;
	background-color: #b7e4b3;
}

.ICQuotaUnitCell
{
	background-color:#EBEBEB;
	border-bottom: black solid 1px;
}

.ICQuotaGivenCell
{
	background-color:#e3dae3;
	border-bottom: black solid 1px;
}

.ICQuotaFreeCell
{
	background-color:#b7e4b3;
	border-bottom: black solid 1px;
}

.ICQuotaTotalUnit
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}

.ICQuotaTotalGiven
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}

.ICQuotaTotalFree
{
	font-weight:bold;
	background-color:#D2D2D2;
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}

/* 
***********************************************
REPORTING Sektion
***********************************************
 */
td.ReportLabel
{
	width:150px;
}
/*
***********************************************
FAQ Sektion
***********************************************
*/
.FAQThema
{
	font-size: 8pt;
	font-family: Tahoma;
	font-weight: bold;
	color: #293d6b;		
}

.FAQAnswer
{
	margin-bottom: 20px;
}
.FAQQuestion
{
	font-family: Tahoma; 
	font-size: 8pt; 
	font-weight: normal;
	color: #293d6b;
	text-decoration: none; 
	height: 18px;
	cursor: hand;
}
.CMSContentPreviewPanel
{
	border-right: #99ccff 1px solid;
	border-top: #99ccff 1px solid;
	border-left: #99ccff 1px solid;
	border-bottom: #99ccff 1px solid;
}
.CMSContentPreviewLabel
{
	background-color: #99ccff;
	color: #ffffff;
}

.TreeNodeBold
{
	font-family: Tahoma;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
	text-decoration: none;
	font-weight: bold;
}

.TreeNodeOverBold
{
	font-family: Tahoma;
	font-size: 8pt;
	color: black;
	text-decoration: underline; 
	cursor: pointer;
	cursor: hand;
	padding-left: 3px;
	font-weight: bold;	
}

.TreeNodeSelectBold
{     
	font-family: Tahoma; 
	font-size: 8pt; 
	color: white; 
	background: #316AC5; 	
    cursor: pointer;
	cursor: hand;
	margin-left: 3px;
	font-weight: bold;
}

/* Registration Section */
.RegNWButton
{
	border-right: #336633 1px solid;
	border-top: #336633 1px solid;
	font-weight: bold;
	font-size: 8pt;
	border-left: #336633 1px solid;
	width: 200px;
	color: #ffffff;
	border-bottom: #336633 1px solid;
	font-family: Tahoma;
	height: 24px;
	background-color: #336633;
}
.RegMobButton
{
	border-right: #766695 1px solid;
	border-top: #766695 1px solid;
	border-left: #766695 1px solid;
	border-bottom: #766695 1px solid;
	background-color: #766695;
	
	font-family: Tahoma;
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
	
	height: 24px;
	width: 200px;
}
.RegPPUDepButton
{
	border-right: #ff8e00 1px solid;
	border-top: #ff8e00 1px solid;
	border-left: #ff8e00 1px solid;
	border-bottom: #ff8e00 1px solid;
	background-color: #ff8e00;
	
	font-family: Tahoma;
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
	
	height: 24px;
	width: 200px;
}
.RegIROButton
{
	border-right: #bc9900 1px solid;
	border-top: #bc9900 1px solid;
	border-left: #bc9900 1px solid;
	border-bottom: #bc9900 1px solid;
	background-color: #bc9900;
	
	font-family: Tahoma;
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
	
	height: 24px;
	width: 200px;
}

/* Network Area */
.NWHeaderTable
{
	border-right: #336633 1px solid;
	border-top: #336633 1px solid;
	border-left: #336633 1px solid;
	border-bottom: #336633 1px solid;
	height: 34px;
	background-color: #d9e488;
}

.NWHeaderCell
{
	border-right: #336633 1px solid;
	border-top: #336633 1px solid;
	border-left: #336633 1px solid;
	border-bottom: #336633 1px solid;
	height: 34px;
	background-color: #336633;
}

.NWTextCell
{
	background-color: #d9e488;
	padding:5px;
}

.NWGridBackground
{
	background-color: #d9e488;
}

.NWHeaderTitle
{
	font-size:8pt;
	font-weight:bold;
	color: #ffffff;
}

/* Mobility Area */
.MobHeaderTable
{
	border-right: #766695 1px solid;
	border-top: #766695 1px solid;
	border-left: #766695 1px solid;
	border-bottom: #766695 1px solid;
	height: 34px;
	background-color: #e7dcf2;
}

.MobHeaderCell
{
	border-right: #766695 1px solid;
	border-top: #766695 1px solid;
	border-left: #766695 1px solid;
	border-bottom: #766695 1px solid;
	height: 34px;
	background-color: #766695;
}
.MobTextCell
{
	background-color: #e7dcf2;
	padding:5px;
}



.MobHeaderTitle
{
	font-size:8pt;
	font-weight:bold;
	color: #ffffff;
}

/* PPUDep Area */
.PPUDepHeaderTable
{
	border-right: #ff8e00 1px solid;
	border-top: #ff8e00 1px solid;
	border-left: #ff8e00 1px solid;
	border-bottom: #ff8e00 1px solid;
	height: 34px;
	background-color: #ffe6ba;
}

.PPUDepHeaderCell
{
	border-right: #ff8e00 1px solid;
	border-top: #ff8e00 1px solid;
	border-left: #ff8e00 1px solid;
	border-bottom: #ff8e00 1px solid;
	height: 34px;
	background-color: #ff8e00;
}
.PPUDepTextCell
{
	background-color: #ffe6ba;
	padding:5px;
}

.PPUDepGridBackground
{
	background-color: #ffe6ba;
}

.PPUDepHeaderTitle
{
	font-size:8pt;
	font-weight:bold;
	color: #ffffff;
}

/* IRO Area */
.IROHeaderTable
{
	border-right: #bc9900 1px solid;
	border-top: #bc9900 1px solid;
	border-left: #bc9900 1px solid;
	border-bottom: #bc9900 1px solid;
	height: 34px;
	background-color: #feedc4;
}

.IROHeaderCell
{
	border-right: #bc9900 1px solid;
	border-top: #bc9900 1px solid;
	border-left: #bc9900 1px solid;
	border-bottom: #bc9900 1px solid;
	height: 34px;
	background-color: #bc9900;
}
.IROTextCell
{
	background-color: #feedc4;
	padding:5px;
}

.IROGridBackground
{
	background-color: #feedc4;
}

.IROHeaderTitle
{
	font-size:8pt;
	font-weight:bold;
	color: #ffffff;
}

/* Rad Grid*/
.RadGrid
{
    font-size: 8pt;
    font-family: Tahoma;
}

.RadGridHeader
{
	font-size: 9pt;
	padding-left: 2px;
	border-bottom: solid 2px #a2a6c7;
	border-top: solid 0px white;
}

/* Mobiliy Report Output*/
div#ReportContainer
{
	background-color:White;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	padding:8px;
	/*max-height: 580px;
	height:580px;*/
	min-height:580px;
}

.ReportHeader
{
	font-size: 16px;
    font-family: Cambria, Verdana, Tahoma;
    font-weight: bold;
    color:  rgb(54,95,145);
    border-bottom: solid 1px rgb(54,95,145);
    margin-bottom:5px;
}

.ReportSection
{
	margin-top: 8px;
}

.ReportSectionHeader
{
	font-size: 13px;
    font-family: Cambria, Verdana, Tahoma;
    font-weight: bold;
    color:  rgb(79,129,189);
    border-bottom: solid 1px rgb(79,129,189);
    margin-bottom:5px;
}

.ReportQuestionRow, .ReportQuestionHor, .ReportAnswerHor, .ReportAnswerVer, .ReportQuestionVer
{
	font-family: Calibri, Tahoma;
	font-size: 12px;
}

.ReportQuestionRow
{
	margin-top: 5px;
	font-weight: bold;
}
.ReportQuestionHor
{
	font-weight: normal;
	float:left;
	width:150px;
}
.ReportAnswerHor
{
	font-weight: normal;	
}

.ReportQuestionVer
{
	margin-bottom:5px;
}

.ReportAnswerVer
{
	font-weight: normal;	
}

.ReportAnswerNO
{
	color: rgb(148, 54, 52);
}
.ReportAnswerYES
{
	color: rgb(79,98,40);
}

.OrgName
{
	font-size: 12px;
	font-weight:bold;
}
.InstName
{
	font-weight:bold;
	color:#17426D;
}
.instPanel
{
	background-color: #E3EEF9;
	padding:5px;	
	border-bottom: 1px solid #fff;
}